body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-align: center  ;
    background-color: grey;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 3% 2%;
    border: 3px solid black;
    display: block;
    margin-top: 8px;
}
a:hover{
    background-color: rgba(0,0,0,0.3);
}
h1, h3{
    margin: 8px;
}