body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#main > div{
    display: flex;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
}
.input{
    margin: 8px;
}
#answer1{
    text-align: center;
}
a{
    text-align: center  ;
    background-color: grey;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 3% 2%;
    border: 3px solid black;
    display: block;
    margin-top: 8px;
}
a:hover{
    background-color: rgba(0,0,0,0.3);
}
input[type=file]{
    margin: 8px;
}
.inputFile{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
h1, h3{
    margin: 8px;
}
